<div class="card">
   <div class="card-image">
    <figure class= "image is4by3">
        <img src=<%= collection.imgSource  %>  alt="Placeholder"  />
        </figure>
   </div>

   <div class="card-content">
      <div class="media">
          <div class="media-left">
              <figure class="image is-48x48">
             <img src="https://i.pinimg.com/originals/e9/3d/c0/e93dc0675eab41c25137ea4930b0fa1f.png" alt="Placeholder image"/>
              </figure>
          </div>
          <div class="media-content">
          <p class="title is-5" ><%- collection.title %> </p>
          <p><%- collection.artist  %>  (<%- collection.artistBeginDate%> - <%- collection.artistBeginEnd%>) </p>
          <p><%- collection.artistRole %></p>
          <p><%- collection.culture %></p>
          <p><%- collection.department %></p>
          <p><%- collection.repository%></p>
          <p><%- collection.date %></p>
          <p><%- collection.accessNumber %></p>
        </div>
      </div>
   </div>
</div>
